/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#container{
    width: 1000px;
    margin: 0 auto;
}

#header{
    width:700px;
    float: right;
}

#sidebar{
    width:130px;
    float: left;
}

#content{
    width:700px;
    float: right;
}

p1{
    width: 209px;
    padding: 14px 0 16px 0;
    font-size: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: white;
    background: #00BFFF;
    line-height: 1;
    border-radius: 50px;
    transition: all .2s;
}

p1:hover{
  transform: scale(1.1, 1.1);
}

nav p:hover {
    background-color: #cccccc;
}

a {
    text-decoration:none;
    position: relative;
    display: inline-block;
    color:black;
}
a::after {
  position: absolute;
  bottom: .3em;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #00BFFF;
  opacity: 0;
  transition: .3s;
}
#header a:hover::after {
  bottom: 0;
  opacity: 1;
}
